{% extends 'base.html' %}
{% block title %}DND - Character Create{% endblock %}
{% block register_active %}active{% endblock %}

{% block head %}
{% load staticfiles %}
{% endblock %}
{% block body %}
<h1>{{ char.c_name }}, a character by {{ char.player }}</h1>
<p>
    {% for coin in inv.currency.all %}
        {{coin}}
    {% endfor %}
    {% for mount in inv.mounts.all %}
        {{ mount }}
    {% endfor %}
</p>
<h1>Hello World</h1>
<a href='/characters/character/edit/{{char.pk}}/{{char.c_name}}'>[edit character]</a>
{% endblock %}
