*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
wow.min.js
webflow.js
modernizr.js
parallax.js
scripts.js
jquery.lettering.js
jquery.mask.min.js
/static/production
/static/media
/static/images
/static/font-awesome
/static/css
/static/js/webpack_bundles
/node_modules
