{% extends "admin/base.html" %}

{% block title %}ElfSyndicate | Admin{% endblock %}
{% load staticfiles %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% block favicon %}<link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/png" />{% endblock %}

{% block dashboard_link %}
  {% if not request.get_full_path == '/admin/' %}
    {% if request.user.is_authenticated %}
      <li class="no-padding">
      <a class="collapsible-header" style="background-color: lightblue;" href="/admin/">
      <i class="material-icons">arrow_back</i>Back to dashboard</a></li>
    {% endif %}
  {% endif %}
{% endblock %}

{% block back_link %}
  {% if request.get_full_path == '/admin/' %}
    <li class="no-padding">
    <a class="collapsible-header" href="/">
    <i class="material-icons">arrow_back</i>View site</a></li>
  {% endif %}
{% endblock %}

{% block userphoto %}
  {% if request.user.is_authenticated %}
    <a href="/accounts/profile/{{request.user.username}}">
      <img class="circle" src="{{MEDIA_URL}}{{user.profile.profile_picture}}" />
    </a>
  {% endif %}
{% endblock %}

{% block username_email %}
  {% if request.user.is_authenticated %}
    <a href="/accounts/profile/{{request.user.username}}"><span class="white-text name">{{ request.user.username|title }}</span></a>
    <a href="/accounts/profile/{{request.user.username}}"><span class="white-text email">{{ request.user.email }}</span></a>
  {% endif %}
{% endblock %}
